.App {
  text-align: center;
  background-color: #fe9801;
  min-height: 100vh;
  font-family: sans-serif;
}
.layout {
  width: 50%;
  font-size: calc(10px + 2vmin);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.subtitle {
  font-weight: 300;
  margin-top: 80px;
}

.time{
  display: flex;
  flex-flow: column;
}

.time-list{
  margin-top: 20px;
}


.time-words-position {
  display: flex;
  justify-content: space-around;
  min-width: 80%;
  margin: 30px;
}

.time-words-layout {
  display: flex;
  flex-flow: column;
  margin: 5px;
  border: 1px solid burlywood;
  width: 40%;
}

.time-text,
.time-number,
.words-text,
.words-number {
  background-color: #ccda46;
  padding: 5px;
}

.time-number,
.words-number {
  font-size: calc(25px + 2vmin);
}

.textarea {
  display: inline-block;
  min-width: 80%;
  min-height: 100px;
  margin-bottom: 30px;
  font-size: 20px;
}
button{
  background-color: #ccda46;
  width: 80%;
  height: 40px;
  border-radius: 0.12em;
  border: 0.1em solid rgb(0, 0, 0);
  font-size: calc(15px + 2vmin);
}

button:disabled{
  background-color:rgb(229, 237, 149);
  border:none;
}
